*{
    padding: 0px;
    border:0px;
}
    .fundo{
    background-image: linear-gradient(45deg, #dcdcdc,#fff);
    height: 100vh;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position:absolute;
    background-color: rgba(224, 224, 224, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 11px 8px 6px 10px rgba(57,57,57,0),
    2px 5px 16px 0px #567292;
}
.botão{
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #dcdcdc;
    cursor:pointer;
    border:none;
    margin:3px;
    border-radius: 8px;
    box-shadow: 11px 8px 6px 10px rgba(57,57,57,0),
    2px 3px 8px 0px #738396;
}
.cod0{
    width: 116px;
}
#cod_{
    height: 116px;
    background-color:rgb(230, 167, 84);
    color:#fff;
}
.botão:hover{
    background-color:#c7c6c6;
}
#cod_:hover{
    background-color:rgb(212, 136, 49);
}
#resultado{
    border-radius: 8px;
    width: 220px;
    background-color: #fff;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: #000;
    text-align:right;
    padding: 5px;    
}
